<link rel="stylesheet" href="/stylesheets/partials/nav.css" />
  
<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
  <div id="picture-frame">
  <nav id="nav-bar">
    <% if (user) { %>
      <a href="/profiles/<%= user.profile._id %>" class="nav-a">My Profile</a>
      <a href="/profiles" class="nav-a">All Profiles</a>
      <a href="/bottles" class="nav-a">All Bottles</a>
      <a href="/bottles/new" class="nav-a">Add Bottle</a>
      <% if (user?.profile.avatar) { %>
        <div id="user-img-div">
            <img id="user-img"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
          <a href="/auth/logout" id="logout-a">
          <p id="logout-p">Logout</p></a>
        </div>
      <% } %>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
  </div>
