#index-table-container {
  margin-bottom: 40px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: black;
}

thead {
  color: white;
  padding: 0 20px;
}

th,
td {
  /* empty-cells: show; */
  padding: 0 20px;
  letter-spacing: 2px;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #e8c896;
}

tbody tr:nth-child(even) {
  background-color: #d2a671;
}

button {
  border-radius: 15px;
  color: white;
  background-image: url('../../assets/close-barrel.jpg');
  border-color: black;
}

button:hover {
  color: #abdbe3;
}

#index-detail-btn-a {
  color: white;
  border-color: black;
  text-decoration: none;
}

#index-detail-btn-a:hover {
  color: #abdbe3;
}

#bottles-search {
  text-align: center;
  height: 50px;
  width: 600px;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  background-color: #d2a671;
  margin: 30px;
}

#bottles-search::placeholder {
  font-weight: bold;
  opacity: .5;
  color: black;
}