#main-new {
  margin-top: 50px;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  text-align: center;
  height: 30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  background-color: #d2a671;
}

#add-bottle-btn {
  background-color: #d2a671;
  border-color: #d2a671;
  border-radius: 10px;
}

#update-bottle-btn {
  border-radius: 15px;
  color: white;
  background-image: url('../../assets/close-barrel.jpg');
  background-size: cover;
  border-color: black;
  height: 60px;
  width: 170px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #d2a671;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.checkbox-container {
  gap: 20px;
  display: flex;
  justify-content: flex-start;
}