<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bottles/new.css" />
<%- include('../partials/nav') %>

<main id="main-new">
  <% if (user) { %>
    <form action="/bottles" method="POST">
      <label>Name of Bottle:
        <input type="text" name="title" id="title-input">
      </label>
      <label>Distillery:
        <input type="text" name="distillery" id="distillery-input">
      </label>
      <label>Type of Spirit:
        <input type="text" name="spirit" id="spirit-input">
      </label>
      <label>Size (ml):
        <input type="number" name="size" id="size-input">
      </label>
      <label>Tasting Notes:
        <input type="text" name="notes" id="notes-input">
      </label>
      <label>Type (Corn, Rye, Wheated):
        <input type="text" name="type" id="type-input">
      </label>
      <label>Mash Bill:
        <input type="text" name="mash" id="mash-input">
      </label>
      <label>Proof:
        <input type="number" name="proof" id="proof-input">
      </label>
      <label>Barrel Strength:
        <input type="checkbox" name="strength" id="strength-input">
        <span class="checkbox-styling"></span>
      </label>
      <label>Color:
        <input type="text" name="color" id="color-input">
      </label>
      <label>Hug:
        <input type="text" name="hug" id="hug-input">
      </label>
      <label>On the Tongue:
        <input type="text" name="flavor" id="flavor-input">
      </label>
      <label>Quantity Owned:
        <input type="number" name="quantity" id="quantity-input">
      </label>
      <div>
        <label>Collectable:
          <input type="checkbox" name="collectable" id="collectable-input">
          <span class="checkbox-styling"></span>
        </label>
      </div>
      <div>
        <label>Add to Inventory:
          <input type="checkbox" name="inventory" id="inventory-input">
          <span class="checkbox-styling"></span>
        </label>
        <label>Add to Wish List:
          <input type="checkbox" name="wishes" id="wishes-input">
          <span class="checkbox-styling"></span>
        </label>
      </div>
      <button type="submit" id="add-bottle-btn">Add Bottle</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>